@model IEnumerable<PhoneStore.Models.Phones>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    tr {
        border: 1px solid #000000;
    }
</style>

<h2>Index</h2>
<p><a href="/Dict/Add">Добавить</a></p>
<table>
    <tr>
        <td>Имя</td>
        <td>Телефон</td>
        <td></td>
        <td></td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Phone_Number</td>
            <td><p><a href="/Dict/Update/@item.Id">Обновить</a></p></td>
            <td><p><a href="/Dict/Delete/@item.Id">Удалить</a></p></td>
        </tr>
    }
</table>

